%h4 使用環境

%p このサイトは、主に iPhone による投稿を想定しています。

%p 投稿の際、位置情報取得のため、端末のGPS情報を使用します。

%h4 投稿の仕方

%p 上部メニューの「投稿」により、投稿を行います。

%p 「投稿内容」に、その時の状況等、伝えたい情報を記入しましょう！

%p また、釣った魚や、景色等の写真を一緒に投稿する事もできます。

%p 「投稿」すれば、マップにあなたの投稿が追加され、写真やコメント等を見る事ができます。
